.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80vh;
  }

.gallery{
    margin-left: 2%;
    margin-right: 2%;
}

.row {
    display: flex;
  }
  
.column {
    flex: 25%;
    padding: 10px;
  }
