/* padding for the main content */
.padding-content {
    padding-left: 15%;
    padding-right: 15%;
}


/* painting decoration */
.polaroid {
    box-shadow: 0 4px 8px 0 rgba(24, 23, 23, 0.2), 0 6px 20px 0 rgba(17, 17, 17, 0.19);
}

img:hover {
    transform: scale(1.01);
    box-shadow: 0 16px 40px 0 rgba(0, 0, 0, 0.2), 0 24px 20px 0 rgba(0, 0, 0, 0.19);
}


/* adjust images */
.banner-img {
    padding-top: 38.5%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}